examples/Notifications endpoint.json
{
  "name": "Notifications endpoint",
  "nodes": [
    {
      "parameters": {
        "path": "29ef4a7a-cadf-4044-9db3-196dcf0b7bec",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 80],
      "id": "ddc2f058-355a-4604-a6fa-4d018375b87f",
      "name": "Webhook",
      "webhookId": "29ef4a7a-cadf-4044-9db3-196dcf0b7bec"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [896, -16],
      "id": "a04cc9e0-3233-4e8b-addc-5a409b8987bc",
      "name": "Respond to Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "yVsYgiITp5zEowYh",
          "mode": "list",
          "cachedResultName": "Workflow results",
          "cachedResultUrl": "/projects/WUhSE1CPQifIwPNe/datatables/yVsYgiITp5zEowYh"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "createdAt",
              "condition": "gt",
              "keyValue": "={{ $json.query.last_triggered_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [448, -16],
      "id": "36650e9f-125c-4933-b802-d20be113dfa8",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [448, 176],
      "id": "669abe7b-3322-4384-a67d-a93d5f6636bd",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "[]",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [896, 176],
      "id": "badda9f5-1e79-44bd-a380-60c3561fd2d4",
      "name": "Respond empty result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5cb60d24-18d1-4f49-b184-b6e699cb1917",
              "leftValue": "={{ $json.query.last_triggered_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [224, 80],
      "id": "94e71021-87a2-48fc-9800-1e63b89636d3",
      "name": "Check last_triggered_at"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7eabcb9a-1562-439b-9048-f24006e232b6",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [672, 80],
      "id": "354304d0-76d4-469a-aa15-6611a12f1abd",
      "name": "Check empty"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check last_triggered_at",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Check empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check last_triggered_at": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check empty": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond empty result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0916d201-703a-4b24-9f3a-aabe571d4d6c",
  "meta": {
    "instanceId": "f5f445528f4a0134354c891fbd95fd0734d25cb2c9206c4684545ae49b14d29b"
  },
  "id": "JGDtDjtmPFhAfBPvkIFkC",
  "tags": [
    {
      "updatedAt": "2026-02-16T20:40:11.853Z",
      "createdAt": "2026-02-16T20:40:11.853Z",
      "id": "Z7RzkymBxZtSjVNK",
      "name": "test"
    }
  ]
}
